
.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #fff;
    height: 100vh; /* Chiều cao 100% viewport */
    padding: 16px;
  }
  
  .sidebar-title {
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
